{% extends "index.html" %}
{% block content %}
<style>
    table, th, td {
      border:1px solid black;
    }
    </style>
<div>
    <table style="width:100%">
        <tr>
            <th>User defined ID</th>
            <th>Is this part high priority for triggering or stocking?</th>
            <th>English material description (40 characters)</th>
            <th>Base unit of measure</th>
            <th>Material group pick list</th>
            <th>Manufacturer name</th>
            <th>Part number or DRW number</th>
            <th>Attachment</th>
            <th>I do not have any type of documentation and I accept that my part processing will take more time</th>
            <th>IBAU (s) #</th>
            <th>IBAU Name</th>
            <th>Functional location (s) multiple</th>
            <th>Vendor Name</th>
            <th>Vendor Part Number</th>
            <th>Vendor Part Number Revision</th>
            <th>Technical Contact</th>
            <th>Security Classification</th>
            <th>TC Project ID</th>
        </tr>
        {% for file in files %}
        <tr>
            <td>{{ file.userID }}</td>
            <td>{{ file.isHighPriority }}</td>
            <td>{{ file.materialDescription }}</td>
            <td>{{ file.unitOfMeasurement }}</td>
            <td>{{ file.materialGroup }}</td>
            <td>{{ file.manufacturerName }}</td>
            <td>{{ file.materialPartNumber }}</td>
            <td>{{ file.attachment }}</td>
            <td>{{ file.isDocumented }}</td>
            <td>{{ file.ibauNum }}</td>
            <td>{{ file.ibauName }}</td>
            <td>{{ file.functionalLocations }}</td>
            <td>{{ file.vendorName }}</td>
            <td>{{ file.vendorPartNum }}</td>
            <td>{{ file.vendorPartNumRevision }}</td>
            <td>{{ file.technicalContact }}</td>
            <td>{{ file.security }}</td>
            <td>{{ file.tcProjectId }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}